/*GENERAL STYLE*/

body {
    font-family: 'Aileron', serif;
    padding-top: 54px;
    /*color: #868e96;*/
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aileron', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #2196f3;
}

a:hover,
a:focus,
a:active {
    color: #0f72c1;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Aileron', serif;
    font-size: 1.35rem;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: #2196f3;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    color: #2196f3;
}

/*==================================================
                    NAV-BAR
====================================================*/
#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        border-right: 1px solid #b9b9b9;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #2196f3;
    cursor: pointer;
}

.btn-green {
    border-color: #2196f3;
    color: #2196f3;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
.heading-border {
    width: 60px;
    height: 10px;
    background-color: #101010;
    margin: 0 auto 20px auto;
}

section.resume-section {
    border-bottom: 1px solid #a7a7a7;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    /*background-color: #f1efe7 !important;*/
}

.text-primary {
    color: #2196f3 !important;
}

/*==================================================
                      ABOUT
====================================================*/
/*#about {
    background-image: url(../img/profile-banner-1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}*/

#about h1 {
    /*font-size: 100%;*/
}

/*==================================================
                    EXPERIENCE
====================================================*/
#experience {
    background: #f1efe7;
}

#experience .card h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
    color: #555;
}

/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio {
    padding: 100px 0;
    background: #f1efe7
}

.port-head-cont {
    margin: 20px auto 40px auto;
    text-align: center;
}

.port-head-cont button {
    margin: 5px 2px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(54, 160, 245, 0.73);
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h3,
#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolio-modal .title-bar h1 {
    visibility: initial;
    animation-name: initial;
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
}

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #2C3E50;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px) {
    .portfolio-modal .close-modal {
        display: none;
    }
}

/*====================================================
                      SKILLS
======================================================*/

#skills {
    background-image: url("../img/bg-stats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.skill-cover {
    background-color: rgba(31, 31, 31, 0.68);
}

.skill-cover h3 {
    font-family: "hind", sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
}

.skill-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
    color: #2196f3;
}

.skill-item h2 {
    color: #fff;
    font-size: "hind", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skill-item p {
    color: #fff;
    font-family: "hind", sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    margin-top: 0;
}

/*====================================================
                      AWARD
======================================================*/

#awards {
    background: #f1efe7;
}

#award-box {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}

#award-box:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #cfcdcd;
    position: absolute;
    top: 0;
    left: 50%;
}

#award-box .award {
    width: 50%;
    clear: both;
    position: relative;
}

#award-box .award:before,
#award-box .award:after {
    content: "";
    display: block;
    clear: both;
}

#award-box .award:first-child:before,
#award-box .award:last-child:before {
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}

#award-box .award:last-child:before {
    top: auto;
    bottom: -54px;
}

#award-box .award:last-child:nth-child(even):before {
    right: auto;
    left: -11px;
}

#award-box .award-icon {
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}

#award-box .award-icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

#award-box .award:hover .award-icon:before {
    background: #39b3ff;
}

#award-box .award-content {
    width: 85%;
    padding: 18px 30px;
    background: #fff;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .award-content {
    border: 1px solid #cfcdcd;
}

#award-box .award-content:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}

#award-box .award:hover .award-content:before {
    background: #39b3ff;
    border-color: #39b3ff;
}

#award-box .award-content:after {
    content: "";
    width: 11%;
    height: 1px;
    background: #cfcdcd;
    position: absolute;
    top: 28px;
    right: -14%;
}

#award-box .date {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #39b3ff;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .date {
    color: #444;
}

#award-box .title {
    font-size: 18px;
    color: #444;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

#award-box .award:hover .title {
    color: #39b3ff;
}

#award-box .description {
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-top: 8px;
}

#award-box .award:nth-child(2n),
#award-box .award:nth-child(2n) .award-content {
    float: right;
    text-align: left;
}

#award-box .award:nth-child(2n) .award-icon {
    right: 0;
    left: -12px;
}

#award-box .award:nth-child(2n) .award-content:before {
    left: -7.3px;
}

#award-box .award:nth-child(2n) .award-content:after {
    left: -14%;
}

#award-box .award .award-content .sub {
    margin: 0;
    font-size: 13px;

}

@media only screen and (max-width: 767px) {
    #award-box {
        padding-left: 20px;
    }

    #award-box:before {
        left: 20px;
    }

    #award-box .award {
        width: 100%;
    }

    #award-box .award,
    #award-box .award-content {
        float: right;
        padding: 5px;
        text-align: left;
    }

    #award-box .award:first-child:before,
    #award-box .award:last-child:nth-child(odd):before {
        right: auto;
        left: -11px;
    }

    #award-box .award-icon {
        right: 0;
        left: -12px;
    }

    #award-box .award-content:before {
        left: -7.3px;
    }

    #award-box .award-content:after {
        left: -14%;
    }
}

/*====================================================
                   CONTACT
======================================================*/

#contact {
    padding: 50px 0;
}

#contact .contact-cont h3 {
    color: #555;
    font-size: 45px;
}

#contact .contact-cont p {
    padding-right: 20px;
    font-size: 15px;
}

#contact .contact-cont2 address,
#contact .contact-cont2 address a {
    color: #666;
}

.con-form input {
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
    margin-top: 30px;
}

.con-form textarea {
    width: 100%;
    height: 200px;
    margin: 30px 0;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
}

.contact-side-desc {
    padding-top: 40px;
}

.contact-box-desc h3 {
    color: #555;
}

.contact-box-desc h3 i {
    color: #2196f3;
}

.social-icon-f li {
    display: inline-block;
}

.social-icon-f li i {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 2px solid #2196f3;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
}

@media(max-width: 767px) {
    #contact-p2 .con-form input {
        margin-bottom: 30px;
    }

    .con-form textarea {
        width: 100%;
        height: 200px;
        margin: 10px 0 30px 0;
        border-color: #ccc;
        border-radius: 0;
        color: #717171;
    }

    .contact-box-desc {
        text-align: center;
    }

    #contact .social-icon-f {
        text-align: center;
    }
}

@media (max-width: 575px) {
    #contact .social-icon-f {
        text-align: center;
    }
}

@media (max-width: 420px) {
    #contact .social-icon-f {
        text-align: center;
    }
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

a.nav-link.js-scroll-trigger {
    color: rgba(255, 255, 255, .5) !important;
}

a.nav-link.js-scroll-trigger.active {
    font-weight: bold !important;
    color: white !important
}

.timeline {
    /*display: flex;*/
    margin: auto;
    justify-content: center;
}

.timeline .circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #05A5D1;
    margin: 0;
    padding: 2px;
    margin-left: -5px;
    z-index: 2;
    position: relative;
}

.timeline .circle:hover {
    cursor: pointer;
}

.timeline .circle p {
    text-align: center;
    margin: auto;
    line-height: 30px;
    color: #ffffff;
}

.timeline .link {
    z-index: 0;
    background-color: #05A5D1;
    padding: 0;
}

.square {
    max-width: 250px;
    min-width: 100px;
    height: 115px;
    border-radius: 10px;
    background-color: rgb(176, 179, 204);
    z-index: 2;
    position: relative;
}

.square.blank {
    visibility: hidden;
}

#end {
    width: 0;
    height: 0;
}

.square h3,
.square h4 {
    margin: 0px 0px 0px 15px;
    text-align: left;
    font-size: 16px;
}

.square h3 {
    padding-top: 5px;
}

.square h4 {
    font-style: italic;
    font-weight: normal;
}

/* Linear timeline from left to right */
#horizontal-timeline {
    flex-direction: row;
    min-width: 1100px;
}

.horizontal .link {
    width: auto;
    height: 5px;
    margin-top: -15px;
    margin-left: 5px;
}

.horizontal .square {
    margin: 30px 0 20px -30px;
}

.horizontal .square p {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*.square.up::after {
    margin: 12px 0px 0px 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(176, 179, 204);
}

.square.down::after {
    margin: -108px 0 15px 15px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(176, 179, 204);
}*/

.horizontal #end {
    margin: 175px 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #a8d0f7;
}

/* Linear timeline from top to bottom */
.vertical .block {
    display: flex;
    flex-direction: row;
}

#vertical-timeline {
    flex-direction: column;
}

.vertical .link {
    width: 5px;
    height: 150px;
    margin-top: 0;
    margin-left: -20px;
}

.vertical .square {
    width: 250px;
    margin: 0px 25px 0px 35px;
}

.vertical .square p {
    padding: 0;
    margin: 0;
}

.vertical #end {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a8d0f7;
    margin: auto;
    margin-left: 311px;
}

.square::after {
    content: " ";
    display: block;
    z-index: 0;
    width: 0px;
    height: 0px;
}

.square.left::after {
    margin: -70px 11px 0px -15px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(176, 179, 204);
}

.square.right::after {
    margin: -75px 0px 0px 242px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(176, 179, 204);
}

/*Time line*/

/******************************************/
#product .cd-horizontal-timeline ol,
#product .cd-horizontal-timeline ul {
    list-style: none;
}

#product .cd-timeline-navigation a:hover,
#product .cd-timeline-navigation a:focus {
    border-color: #313740;

}

#product .cd-horizontal-timeline a,
#product .cd-horizontal-timeline a:hover,
#product .cd-horizontal-timeline a:focus {
    color: #313740;
}

#product .cd-horizontal-timeline blockquote,
#product .cd-horizontal-timeline q {
    quotes: none;
}

#product .cd-horizontal-timeline blockquote:before,
#product .cd-horizontal-timeline blockquote:after,
#product .cd-horizontal-timeline q:before,
#product .cd-horizontal-timeline q:after {
    content: '';
    content: none;
}

#product .cd-horizontal-timeline table {
    border-collapse: collapse;
    border-spacing: 0;
}

#product .cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#product .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

#product .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
}

#product .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

#product .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

#product .cd-horizontal-timeline .events-wrapper::after,
#product .cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
}

#product .cd-horizontal-timeline .events-wrapper::before {
    left: 0;

}

#product .cd-horizontal-timeline .events-wrapper::after {
    right: 0;

}

#product .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

#product .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #313740;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#product .cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 15px;

    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#product .cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

#product .no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #313740;
    border-color: #313740;
}

#product .cd-horizontal-timeline .events a.selected {
    pointer-events: none;
}

#product .cd-horizontal-timeline .events a.selected::after {
    background-color: #313740;
    border-color: #313740;
}

#product .cd-horizontal-timeline .events a.older-event::after {
    border-color: #313740;
}

@media only screen and (min-width: 1100px) {
    #product .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

#product .cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

#product .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#product .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

#product .cd-timeline-navigation a.next {
    right: 0;
}

#product .no-touch .cd-timeline-navigation a:hover {
    border-color: #7b9d6f;
}

#product .cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

#product .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
}

#product .no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

#product .cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}

#product .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

#product .cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#product .cd-horizontal-timeline .events-content li.enter-right,
#product .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

#product .cd-horizontal-timeline .events-content li.enter-left,
#product .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

#product .cd-horizontal-timeline .events-content li.leave-right,
#product .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

#product .cd-horizontal-timeline .events-content li>* {
    max-width: 800px;
    margin: 0 auto;
}

#product .cd-horizontal-timeline .events-content h4 {
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 20px;
    margin-bottom: 15px;
}

#product .cd-horizontal-timeline .events-content h4 small {
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
}

#product .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

#product .cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

#product .cd-horizontal-timeline .events-content p {
    font-size: 16px;
    margin-top: 15px;

}

@media only screen and (min-width: 768px) {

    #product .cd-horizontal-timeline .events-content em {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {

    #product .cd-horizontal-timeline.loaded {
        margin: 0;
    }

    #product .cd-horizontal-timeline .timeline {
        width: 100%;
    }

    #product .cd-horizontal-timeline ol,
    #product .cd-horizontal-timeline ul {
        padding: 0;
        margin: 0;
    }

    #product .cd-horizontal-timeline .events-content h4 {
        font-size: 16px;
    }

    #product .cd-horizontal-timeline .events-content {
        margin: 0;
    }

}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#product .timeline:before {
    content: " ";
    display: none;
    bottom: 0;
    left: 0%;
    width: 0px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

/*********Slider********/
/*h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #8fbc54;
    left: 0;
    right: 0;
    bottom: -10px;
}
*/
.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    padding: 0 70px;
}

.carousel .carousel-item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 12px !important;
    height: 12px !important;
    margin: 1px 3px !important;
    border-radius: 50% !important;
    border: none !important;
}

.carousel-indicators li {
    background: #999 !important;

    border-color: transparent !important;

    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2) !important;

}

.carousel-indicators li.active {
    background: #555 !important;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}